.events {
  overflow-y: auto;
  max-height: 300px;
}

.events table td.date {
  text-align: right;
  color: rgb(0, 42, 58);
  border-right: 2px rgb(204, 204, 204) solid;
  padding-right: 10px;
}

.events table td.date::after {
  content: "\2014";
  color: rgb(204, 204, 204);
  position: relative;
  left: 10px;
  margin-left: -5px;
  margin-right: -10px;
  font-weight: bold;
  font-size: 18px;
}

.events table td.text {
  color: rgb(0, 42, 58);
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 16px;
  margin-top: 5px;
  text-align: left;
}

.events table tr:nth-child(even) {
  background-color: rgba(204, 204, 204, 0.4);
}
