.heatmap {
  overflow-y: auto;
  max-height: 600px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding-top: 10px;
}

.heatmap-container {
  padding-bottom: 15px;
}

.heatmap table th {
  vertical-align: top;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  color: #133a53;
  padding: 0 20px;
}

.darkmode .table thead th {
  border-bottom: none;
  color: #f2f2f2;
}

.darkmode .table td, .table th {
  border-top: none;
}

.darkmode .heatmap {
  background-color: rgb(56,56,56);
  box-shadow: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.darkmode .heatmap table th {
  background-color: rgb(56,56,56);
  padding: 0 20px;
}

.heatmap table th .subheading {
  font-weight: normal;
}

.heatmap table tr.area td {
  border: 0;
  padding: 0 20px;
  vertical-align: middle;
}

.darkmode .area {
  color: #f2f2f2;
  background-color: rgb(56,56,56);
  border-top: 1px solid #020202;
}

.area {
  border-top: 1px solid #f2f2f2;
}

.heatmap .l-0 {
  stroke: #e0e0e0;
}
.heatmap .l-1 {
  stroke: #ffffb2;
}
.heatmap .l-2 {
  stroke: #fed976;
}
.heatmap .l-3 {
  stroke: #feb24c;
}
.heatmap .l-4 {
  stroke: #fd8d3c;
}
.heatmap .l-5 {
  stroke: #f03b20;
}
.heatmap .l-6 {
  stroke: #bd0026;
}
.heatmap .l-7 {
  stroke: #020202;
}

.heatmapScale .l-0 {
  background-color: #e0e0e0;
}
.heatmapScale .l-1 {
  background-color: #ffffb2;
}
.heatmapScale .l-2 {
  background-color: #fed976;
}
.heatmapScale .l-3 {
  background-color: #feb24c;
}
.heatmapScale .l-4 {
  background-color: #fd8d3c;
}
.heatmapScale .l-5 {
  background-color: #f03b20;
}
.heatmapScale .l-6 {
  background-color: #bd0026;
}

.darkmode .heatmapScale .l-0,
.darkmode .heatmapScale .l-1,
.darkmode .heatmapScale .l-2,
.darkmode .heatmapScale .l-3 {
  color: #020202;
}

.heatmapScale .l-7 {
  background-color: #020202;
  color: #ffffff;
}

.heatmapScale {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
  border: 1px solid darkgrey;
}

.darkmode .heatmapScale {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.heatmapScale .col {
  padding: 2px 15px;
}
.heatmapScale .col.smallscale {
  display: none;
}
@media all and (max-width: 810px) {
  .heatmapScale .col.smallscale {
    display: inline;
  }
  .heatmapScale .col.largescale {
    display: none;
  }
}

.darkmode .heatmapScale {
  color: #020202;
}

.darkmode .heatmapScale .l-7 {
  color: #ffffff;
}

@media all and (max-width: 600px) {
  .heatmap {
    font-size: 80%;
  }
}

@media all and (max-width: 450px) {
  .heatmapScale .col {
    padding: 5px 5px;
  }
}

.heatbarLine {
  border: 1px solid darkgrey;
  margin: 2px;
}

.darkmode .heatbarLine {
  background-color: #ffffff;
}

svg.heatbar {
  height: 1.5em;
  width: 100%;
}

.scotland-total {
  font-weight: bold;
}

.darkmode .scotland-total {
  color: #c1def1;
}
