input {
  -webkit-appearance: none;
  position: relative;
  width: 200px;
  height: 100px;
  background-color: rgb(244, 189, 33);
  border-radius: 50px;
  outline: none;
}

input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: navy;
  border-radius: 50px;
}

input:checked {
  background-color: red;
}

input:checked:before {
  transform: translate(100%);
}
