.heatmap {
  overflow: auto;
}

.heatmap table {
  text-align: center;
  overflow-y: auto;
/*  height: 20vh;*/
}

.heatmap table td:first-child , .heatmap table th:first-child {
  text-align: left;
}

.heatmap .l-0 {
  stroke: #e0e0e0;
}
.heatmap .l-1 {
  stroke: #fef0d9;
}
.heatmap .l-2 {
  stroke: #fdcc8a;
}
.heatmap .l-3 {
  stroke: #fc8d59;
}
.heatmap .l-4 {
  stroke: #e34a33;
}
.heatmap .l-5 {
  stroke: #b30000;
}

/*table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
*/
