.heatmap {
  overflow-y: auto;
  max-height: 600px;
  height: 100%;
}

.heatmap table {

  overflow-y: auto;
}

.heatmap table th {
  vertical-align: top;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  color: #133a53;
}

.heatmap table th .subheading {
  font-weight: normal;
}

.heatmap table tr.area td {
  border: 0;
  padding: 0;
  vertical-align: middle;
}

.heatmap .l-0 {
  stroke: #e0e0e0;
}
.heatmap .l-1 {
  stroke: #fef0d9;
}
.heatmap .l-2 {
  stroke: #fdcc8a;
}
.heatmap .l-3 {
  stroke: #fc8d59;
}
.heatmap .l-4 {
  stroke: #e34a33;
}
.heatmap .l-5 {
  stroke: #b30000;
}

.heatmapScale .l-0 {
  background-color: #e0e0e0;
}
.heatmapScale .l-1 {
  background-color: #fef0d9;
}
.heatmapScale .l-2 {
  background-color: #fdcc8a;
}
.heatmapScale .l-3 {
  background-color: #fc8d59;
}
.heatmapScale .l-4 {
  background-color: #e34a33;
}
.heatmapScale .l-5 {
  background-color: #b30000;
}

.heatmapScale {
  padding-top: 5px;
  padding-bottom: 5px;
}
.heatmapScale span {
  padding: 5px 10px;
}
.heatmapScale span.smallscale {
  display: none;
}
@media all and (max-width: 810px) {
  .heatmapScale span.smallscale {
    display: inline;
  }
  .heatmapScale span.largescale {
    display: none;
  }
}

@media all and (max-width: 600px) {
  .heatmap {
    font-size: 80%;
  }
}

.heatbarLine {
  border: 1px solid darkgrey;
  margin: 2px;
}

svg.heatbar {
  height: 1.5em;
  width: 100%;
}
