.sitemap .title {
  font-weight: bold;
  text-align: center;
}

.sitemap .entry:hover,
.sitemap .entry:active {
  text-decoration: underline;
  cursor: pointer;
  color: #0056b3;
}

.sitemap .entry {
  text-align: center;
  font-weight: normal;
}

#entry-link {
  color: #3c3c3b;
}

@media screen and (max-width: 1300px) {
  .sitemap .entry {
    width: 40%;
    left: 30%;
  }
}

@media screen and (max-width: 768px) {
  .sitemap .entry {
    width: 60%;
    left: 20%;
  }
}
