.sitemap .title {
  font-weight: bold;
}

.sitemap .entry:hover,
.sitemap .entry:active {
  text-decoration: underline;
  cursor: pointer;
  color: #0056b3;
}

.sitemap .entry {
  font-weight: normal;
}

.sitemap .email, .sitemap .title, .sitemap .entry {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .sitemap .title {
    padding-top: 1rem;
  }
}

.sitemap-container {
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .sitemap-container {
    flex-direction: column;
  }
}

footer {
  padding: 0 0 1.5rem 0;
}

.social-media {
  padding: 0 5px;
}

.sitemap {
  margin-right: 50px;
  margin-left: 20px;
  margin-top: 15px;
}
