.selected-chart {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 220px;
  height: 35px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .selected-chart {
    margin-left: 5px;
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .selected-chart {
    margin-left: 5px;
    width: 320px;
  }
}

@media screen and (max-width: 414px) {
  .selected-chart {
    margin-left: 5px;
    width: 220px;
  }
}

.selected-chart:hover {
  background-color: #ec6730;
  border-color: #ec6730;
  color: #ffffff;
}

.selected-chart.dropdown-toggle.btn.btn-primary {
  background-color: #ec6730;
  border-color: #ec6730;
  color: #ffffff;
}

.darkmode .selected-chart:hover {
  background-color: rgb(56, 56, 56);

  border-color: rgb(56, 56, 56);

  color: #ffffff;
}

.darkmode .selected-chart.dropdown-toggle.btn.btn-primary {
  background-color: rgb(56, 56, 56)
;
  border-color: rgb(56, 56, 56)
;
  color: #ffffff;
}

.selected-chart.dropdown-toggle.btn.btn-primary:focus {
  box-shadow: none;
}
