.sitemap .title {
  font-weight: bold;
}

.sitemap .entry:hover,
.sitemap .entry:active {
  text-decoration: underline;
  cursor: pointer;
  color: #0056b3;
}

.sitemap .entry {
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .sitemap .title {
    padding-top: 20px;
  }
}

.sitemap-container {
  flex-direction: row;
  padding-bottom: 20px;
}

@media screen and (max-width: 829px) {
  .sitemap-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 570px) {
  .social {
    margin-top: 20px;
  }
}

.third-party-logo {
  padding: 0 5px;
}

.darkmode .third-party-logo {
  color: #121212;
}

.sitemap {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.sta-logo {
  margin-left: 20px;
}

.dedication {
  margin-top: 10px;
}

.sta-logo-text {
  color: black;
}

.sta-logo-text:hover {
  color: black;
  text-decoration: none;
}

footer {
  padding-bottom: 30px;
}

.darkmode footer {
  background-color: #121212;
}

.darkmode footer .sitemap .entry {
  color: #f2f2f2;
  font-weight: normal;
}

.darkmode footer .sitemap .title {
  color: #c1def1;
}

.darkmode .footer-base {
  background-color: #f2f2f2;
  color: #121212;
  margin: 0;
  padding: 20px 0 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.darkmode .footer-main {
  background-color: rgb(56,56,56);
  margin: 0;
}

.darkmode header {
  background-color: #121212;
}
