.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: white;
  background-color: #287db2;
  border-color: #287db2;
  font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled).active:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  color: white;
  background-color: #133a53;
  border-color: #133a53;
  font-weight: bold;
}

.heatmap-selector .toggle-button-group {
  margin: 10px 20px;
  height: 100%;
}

.heatmap-selector {
  padding: 0;
}

.heatmap-selector .selector-group {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 0.8rem;
  text-align: left;
}

@media screen and (max-width: 375px) {
  .btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .selector-container {
    display: flex;
    flex-direction: column;
  }
  .heatmap-selector .selector-group {
    margin: 5px auto;
  }
  .btn {
    width: 45%;
  }
}
.selector-container {
  background-color: #ffffff;
}
