.fullscreen svg {
    height: 25px;
    width: 25px;
    color: #133a53;
}

.fullscreen:hover,
.fullscreen svg:hover {
  color: #ffffff;
  background-color: #133a53;
}

.darkmode .fullscreen {
  color: #121212;
  background-color: #c1def1;
}

.darkmode .fullscreen:hover,
.darkmode .fullscreen svg:hover {
  color: #c1def1;
  background-color: #121212;
}

.darkmode .fullscreen:hover {
  border: 1px solid #c1def1;
}

.full-screen {
  padding-top: 10px;
}

.darkmode .full-screen {
  background-color: #121212;
}
