.full-screen {
  padding-top: 10px;
}

.fullscreen svg {
  height: 25px;
  width: 25px;
}

.darkmode .leaflet-touch .leaflet-control-layers,
.darkmode .leaflet-touch .leaflet-bar {
	border-color: rgba(255,255,255,0.5);
}

.darkmode .leaflet-bar a,
.darkmode .leaflet-bar a:hover {
  background-color: black;
  border-bottom-color: #333;
  color: #ccc;
}

.darkmode .leaflet-bar a:hover {
  background-color: #1f1f1f;
}

.darkmode .leaflet-bar a.leaflet-disabled {
  background-color: #1f1f1f;
  color: #444;
}
