.full-screen {
  padding-top: 10px;
}

.darkmode .fullscreen {
  color: #121212;
  background-color: #c1def1;
}

.fullscreen svg {
  height: 25px;
  width: 25px;
  color: #133a53;
}

.fullscreen:hover,
.fullscreen svg:hover {
  color: white;
  background-color: #133a53;
}

.darkmode .fullscreen:hover {
  border: 1px solid #c1def1;
}

.darkmode .fullscreen:hover,
.darkmode .fullscreen svg:hover {
  color: #c1def1;
  background-color: #121212;
}
