.geo-map,
.full-screen-geo-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.geo-map {
  height: 600px;
}

.full-screen-geo-map {
  height: 90vh;
}

.hidden-geo-map {
  display: none;
}

#map,
#regionmap {
  height: 100%;
  width: 100%;
}

.region-popup {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}

div.leaflet-tooltip {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

div.leaflet-tooltip p {
  margin-bottom: 0;
}

div.leaflet-tooltip-left::before {
  border-left-color: #000000;
}

div.leaflet-tooltip-right::before {
  border-right-color: #000000;
}

div.leaflet-popup-content-wrapper {
  background-color: #000000;
}

.legend {
  line-height: 18px;
  background-color: #fff;
  color: #555;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.darkmode .legend {
  background-color: rgb(56, 56, 56);
  color: #f2f2f2;
}

.legend .legend-title {
  font-weight: bold;
}

.legend-line {
  height: 18px;
  display: flex;
}

.legend .legend-line i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.map-date-range {
  font-weight: bold;
  color: #fd8d3c;
  border-bottom: 1px solid LightGray;
  padding-bottom: 5px;
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-attribution a {
  color: black;
}

.darkmode .leaflet-container .leaflet-control-attribution,
.darkmode .leaflet-container .leaflet-control-attribution a {
  background: #0b0a0a;
  color: #f2f2f2;
}
