.headline-banner {
  background-color: #133a53;
  color: #ffffff;
  padding: 1rem;
}

.headline-banner-highlight {
  font-weight: bold;
  color: #fc8d59;
}

@media screen and (max-width: 768px) {
  .headline-banner {
    height: auto;
    padding: 3%;
  }

  .headline-banner h2 {
    font-size: 1.2rem;
  }
}

#link {
  color: #c1def1;
}

#link:hover {
  color: #fc8d59;
  cursor: pointer;
}

h2 {
  font-size: 1.7rem;
}
