.headline-banner {
  background-color: #133a53;
  color: #ffffff;
  padding: 1rem;
}

.darkmode .headline-banner {
  background-color: rgb(56, 56, 56);
}

.darkmode .headline-banner h2 {
  color: #f2f2f2;
}
.headline-banner h2 {
  font-size: 1.5rem;
}

.headline-banner-highlight {
  font-weight: bold;
  color: #fc8d59;
}

/* .darkmode .headline-banner-highlight {
  color: #f2f2f2;
} */

@media screen and (max-width: 768px) {
  .headline-banner {
    height: auto;
    padding: 3%;
  }
  .headline-banner h2 {
    font-size: 1.2rem;
  }
}

.hr-container {
  padding: 0;
}

#link {
  color: #c1def1;
}

/* .darkmode #link {
  color: #f2f2f2;
} */

#link:hover {
  color: #fc8d59;
  cursor: pointer;
}
