.info-bar {
  background-color: #c1def1;
  padding: 10px 20px;
}

.darkmode .info-bar {
  opacity: 75%;
}

.scot-gov-link {
  color: #133A53;
  font-weight: bold;
}

.timestamp, .message, .news-item-title {
  color: #133a53;
}

a.news-item-link {
  font-weight: bold;
}

.news-item-title {
  font-weight: bold;
}

.more-info-icon {
  height: 3rem;
  margin-top: 20px;
}

.news-items-block {
  padding: 0;
  margin-top: 15px;
  margin-left: 15px;
}

.list-items {
  padding-left: 20px;
}

.icon-container {
  padding: 0;
}
