.subtitle {
  font-size: 0.75rem;
  color: #6c6c6c;
  font-weight: bold;
}

.darkmode .subtitle {
  color: #b3b3b3;
}

.single-value-heading {
  height: 25%;
  margin-left: 30px;
  padding-right: 26px;
}

.single-value-number {
  font-size: 2.5rem;
  color: #2a84bb;
  font-weight: bold;
  margin-left: 30px;
}

.darkmode .single-value-number {
  color: #f2f2f2;
}

.single-value-line {
  margin: 0;
}

.single-value {
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 10px 0 0;
  height: 125px;
  background-color: #ffffff;
  color: #133a53;
  position: relative;
}

.darkmode .single-value {
  background-color: rgb(56, 56, 56);
  box-shadow: none;
  color: #c1def1;
}

.region-single-value-bar,
.single-value-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f2f2f2;
  position: relative;
}

.darkmode .region-single-value-bar,
.darkmode .single-value-bar {
  background-color: #121212;
}

.single-value-container {
  width: 20%;
}

.region-single-value-container {
  width: 33%;
}

.single-value-hr {
  margin-bottom: 0;
  padding-bottom: 0;
}

.darkmode .single-value-hr {
  border-color: #262626;
}

@media screen and (max-width: 1324px) {
  .single-value-bar {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .region-single-value-container .single-value-heading {
    margin-top: 10px;
    margin-left: 20px;
    height: 30%;
  }
  .region-single-value-container .single-value-number {
    margin-left: 20px;
  }
  .region-single-value-container .single-value {
    height: 175px;
  }
  .single-value-container {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .region-single-value-bar {
    flex-direction: column;
  }
  .region-single-value-container {
    width: 100%;
  }
  .region-single-value-container .single-value {
    height: 135px;
  }
  .region-single-value-container .single-value-heading {
    height: 25%;
  }
}

@media screen and (max-width: 575px) {
  .single-value {
    height: 100px;
  }
  .single-value-heading {
    margin-left: 20px;
    padding-right: auto;
    font-size: 0.75rem;
  }
  .subtitle {
    font-size: 0.65rem;
  }
  .single-value-number {
    font-size: 1.75rem;
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .single-value {
    height: 115px;
  }
  .single-value-bar {
    flex-direction: column;
  }
  .single-value-container {
    width: 100%;
  }
  .single-value-heading {
    font-size: 1rem;
    height: 30%;
  }
}
