/*  Width independent css attributes - don't merge with default blocks below */
.region-single-value-bar,
.overview-single-value-bar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  position: relative;
}

.overview-single-value-bar {
  flex-wrap: wrap;
}

.darkmode .region-single-value-bar,
.darkmode .overview-single-value-bar {
  background-color: #121212;
}

.single-value-container {
  padding: 0.5rem;
}

.subtitle {
  color: #6c6c6c;
  font-weight: bold;
}

.darkmode .subtitle {
  color: #b3b3b3;
}

.single-value-number {
  color: #2a84bb;
  font-weight: bold;
}

.darkmode .single-value-number {
  color: #f2f2f2;
}

.single-value-line {
  margin: 0;
}

.single-value {
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 10px 0 0;
  background-color: white;
  color: #133a53;
  position: relative;
}

.darkmode .single-value {
  background-color: #383838;
  box-shadow: none;
  color: #c1def1;
}

.single-value-hr {
  margin-bottom: 0;
  padding-bottom: 0;
}

.darkmode .single-value-hr {
  border-color: #020202;
}

/* Full-width default values for overview and regional page */
.subtitle {
  font-size: 0.75rem;
}

.single-value-heading {
  height: 25%;
  margin-left: 30px;
  padding-right: 26px;
}

.single-value-number {
  font-size: 2.5rem;
  margin-left: 30px;
}

.single-value {
  height: 125px;
}

.region-single-value-bar,
.overview-single-value-bar {
  flex-direction: row;
}

.overview-single-value-bar .single-value-container {
  width: 20%;
}

.region-single-value-bar .single-value-container {
  width: 33%;
}

/* Overview page - 2 column view for tiles */
@media screen and (max-width: 1410px) {
  .overview-single-value-bar .single-value-container {
    width: 50%;
  }
}

/* Overview page - single column view for tiles */
@media screen and (max-width: 585px) {
  .overview-single-value-bar .single-value {
    height: 100px;
  }
  .overview-single-value-bar .single-value-heading {
    margin-left: 20px;
    font-size: 0.75rem;
  }
  .overview-single-value-bar .subtitle {
    font-size: 0.65rem;
  }
  .overview-single-value-bar .single-value-number {
    font-size: 1.75rem;
    margin-left: 20px;
  }
}

/* Overview page - single column for tiles */
@media screen and (max-width: 520px) {
  .overview-single-value-bar {
    flex-direction: column;
  }
  .overview-single-value-bar .single-value-container {
    width: 100%;
  }
  .overview-single-value-bar .single-value {
    height: 115px;
  }
  .overview-single-value-bar .single-value-heading {
    font-size: 1rem;
    height: 30%;
    margin-left: 30px;
  }
  .overview-single-value-bar .subtitle {
    font-size: 0.75rem;
  }
  .overview-single-value-bar .single-value-number {
    font-size: 2.5rem;
    margin-left: 30px;
  }
}

/* Regional page - 3 column view for tiles */
@media screen and (max-width: 1324px) {
  .region-single-value-bar .single-value-heading {
    margin-top: 10px;
    margin-left: 20px;
    height: 30%;
  }
  .region-single-value-bar .single-value-number {
    margin-left: 20px;
  }
  .region-single-value-bar .single-value {
    height: 175px;
  }
}

/* Regional page - single column view for tiles */
@media screen and (max-width: 640px) {
  .region-single-value-bar {
    flex-direction: column;
  }
  .region-single-value-bar .single-value-container {
    width: 100%;
  }
  .region-single-value-bar .single-value {
    height: 135px;
  }
  .region-single-value-bar .single-value-heading {
    height: 25%;
  }
}
