.darkmode {
  background-color: #121212;
}

.full-screen {
  background-color: white;
}

/* color is default white for header */
header {
  padding-top: 10px;
}

.darkmode header {
  background-color: #121212;
}

/* color is default white for .region-selector-label */
.darkmode .region-selector-label {
  color: #f2f2f2;
}

.heatmaps-row,
.region-page-top-row {
  padding: 15px 10px;
  background-color: #f2f2f2;
  /* required to keep the alignment down left and right hand side of pages */
  margin: 0;
}

.darkmode .heatmaps-row {
  background-color: #262626;
}

.selector-group fieldset legend {
  font-size: 16px;
  font-weight: bold;
}

.darkmode .selector-group fieldset legend {
  color: #f2f2f2;
}

.darkmode .region-page-top-row {
  background-color: rgb(56, 56, 56);
}

.geo-map-column {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

/* inserts an hr divider between the geo map and the heatmap table when they stack vertically */
.responsive-divider {
  padding: 0;
  margin: 10px 0 15px;
  display:none;
}


@media screen and (max-width: 990px) {
  .responsive-divider {
    display:block;
  }
}

/* color is default white for .region-tiles-column */
.region-tiles-column {
  padding-top: 0;
  margin-bottom: 5px;
}

.darkmode .region-tiles-column {
  background-color: #121212;
}

.underHeatmapSelector {
  border: 1px solid #2a84bb;
}

.darkmode .underHeatmapSelector {
  border-color: #cccccc;
}

/* color and background-color are default for .about-us, .accessibility-page, .data-sources */
.about-us,
.accessibility-page,
.data-sources {
  padding: 0 15px;
  text-align: left;
}

.darkmode .about-us,
.darkmode .accessibility-page,
.darkmode .data-sources {
  background-color: #121212;
  color: #f2f2f2;
}

.about-us h1,
.about-us h2,
.accessibility-page h1,
.accessibility-page h2,
.data-sources h1 {
  font-size: 1rem;
  padding: 15px;
  margin-bottom: 0;
  background-color: #133a53;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.data-sources-list {
  min-height: 52.5vh;
  padding: 20px 40px;
}

.accessibility-details li,
.about-us-details li {
  padding: 0 20px 0;
}

.about-us-details ul {
  width: 50vw;
}

.accessibility-details,
.about-us {
  padding-bottom: 20px;
}

.accessibility-details ul {
  padding-left: 50px;
  margin: 0;
}

.accessibility-details p,
.about-us-details p {
  padding: 20px;
  margin: 0;
}

.team-members.col,
.vendors.col {
  padding: 0 0 20px;
}

.data-sources-list li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.darkmode .data-sources-list li {
  border-bottom-color: rgb(106, 106, 106);
}

.darkmode .team-members .link,
.darkmode .about-us-details .link,
.darkmode .data-sources .link,
.darkmode .accessibility-details .link {
  color: #c1def1;
}

button.MuiButtonBase-root {
  margin: 5px;
  width: 105px;
  font-size: 0.75rem;
}

.darkmode button.MuiButtonBase-root {
  color: #f2f2f2;
  border-color: #f2f2f2;
}

button.MuiButtonBase-root:focus {
  outline: none;
  background-color: inherit;
}

button.MuiButtonBase-root:hover {
  box-shadow: 5px 5px 5px #aaaaaa;
  background-color: #f2f2f2;
  color: rgb(64, 64, 64);
}

.darkmode button.MuiButtonBase-root:hover {
  box-shadow: none;
}
