.darkmode {
  background-color: #121212;
}

.full-screen {
  background-color: #ffffff;
}

.darkmode .container-fluid {
  background-color: #121212;
}

header {
  padding-top: 10px;
}

.darkmode header {
  background-color: #121212;
}

.darkmode .region-selector-label {
  color: #f2f2f2;
}

.heatmaps-row,
.region-page-top-row {
  padding: 15px 10px;
  margin: 0;
  background-color: #f2f2f2
}

.darkmode .region-page-top-row {
  background-color: rgb(56,56,56);
}

.geo-map-column {
  padding-left: 0;
}

.region-tiles-column {
  padding-top: 15px;
  background-color: #ffffff;
}

.darkmode .region-tiles-column {
  border-radius: 10px;
  background-color: #121212
}

.darkmode .heatmaps-row {
  background-color: #262626;
}

.underHeatmapSelector {
  border: 1px solid #2a84bb;
}

.darkmode .underHeatmapSelector {
  border: 1px solid #cccccc;
}

.about-us,
.accessibility-page,
.data-sources {
  padding: 0 15px;
  text-align: left;
}

.darkmode .about-us,
.darkmode .accessibility-page,
.darkmode .data-sources {
  background-color: #121212 !important;
  color: #f2f2f2;
}

.about-us h1,
.about-us h2,
.accessibility-page h1,
.accessibility-page h2,
.data-sources h1 {
  font-size: 1rem;
  padding: 25px;
  background-color: #133a53;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
}

.data-sources-list {
  min-height: 40vh;
}

.accessibility-page ul {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.accessibility-intro li {
  padding-left: 20px;
}

button.MuiButtonBase-root {
  margin: 5px;
  width: 105px;
  font-size: 0.75rem;
}

.darkmode button.MuiButtonBase-root {
  color: #f2f2f2;
  border-color: #f2f2f2;
}

button.MuiButtonBase-root:hover {
  box-shadow: none;
  background-color: #f2f2f2;
  color: rgb(64,64,64)
}
