.underHeatmapSelector {
  border: 1px solid #2a84bb;
  margin-top: 8px;
  margin-bottom: 8px;
}

.full-width-hr {
  border: 1px solid #2a84bb;
  margin: 10px 0;
  padding: 0;
}

.full-screen {
  background-color: White;
}

.link {
  color: #3c3c3b;
  font-weight: bold;
  text-decoration: none;
}

.about-us,
.accessibility-page,
.data-sources {
  text-align: left;
  padding-top: 3vh;
  padding-right: 15px;
  padding-left: 15px;
}

.data-sources {
  padding-bottom: 3vh;
}

.about-us-details,
.accessibility-intro,
.accessibility-details {
  padding-bottom: 30px;
}

.about-us h1,
.about-us h2,
.accessibility-page h1,
.data-sources h1 {
  padding-top: 2vh;
}

.accessibility-page ul {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.accessibility-intro li {
  padding-left: 20px;
}

.accessibility-page .browsers {
  font-style: italic;
  padding-left: 20px;
  margin-bottom: 15px;
}

.accessibility-page #browsers-list {
  margin-bottom: 5px;
}

.about-us .name {
  color: #3c3c3b;
  font-size: 16pt;
}

.team-members {
  justify-content: left;
}

.widgets-block {
  background-color: #f2f2f2;
  padding: 0 0 40px 0;
}

button.MuiButtonBase-root {
  margin: 5px;
  width: 105px;
  font-size: 0.75rem;
}

button.MuiButtonBase-root:hover {
  box-shadow: 5px 5px 5px #aaaaaa;
}
/* darkmode setup */

/* .App,
.navbar-link,
.avbar-links,
.navbar-nav,
.heading-container,
h1,
h2,
h3,
h4,
header,
.single-value-number,
.dashboard-navbar,
.single-value-number,
.single-value-container,
.single-value,
.single-value-bar,
a,
link,
.p-2,
.info-bar,
.facts-container,
.facts-component,
div,
.subheading,
th,
.area {
  color: white !important;
  background-color: black !important;
}

.nav-link.selected {
  color: aqua !important;
} */