.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: white;
  background-color: #287DB2;
  border-color: #287DB2;
  font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled).active:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  color: white;
  background-color: #133a53;
  border-color: #133a53;
  font-weight: bold;
}

.btn-secondary.disabled,
.btn-secondary.disabled:hover,
.btn-secondary.disabled:active,
.btn-secondary:disabled,
.btn-secondary:disabled:hover,
.btn-secondary:disabled:active,
.btn-secondary:disabled:focus {
  color: white;
  background-color: #616161;
  border-color: #616161;
  font-weight: bold;
}

.hidden-chart {
  display: none;
}

.darkmode .full-width-hr {
  border: 1px solid #b3b3b3;
}
