.chart-border {
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 5px 50px 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: 97.5%;
}

.chart-dropdown-container {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  padding-left: 0;
}

.chart-title {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
  color: #133a53;
}

.chart-title h2 {
  font-size: 1.5rem;
}

.date-range-selector {
  display: flex;
  padding-left: 30px;
}

@media screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
}
}

.chart-container {
  height: 100%;
  width: 100%;
  min-height: 450px;
  max-height: 450px;
}

.region-chart-container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.sonification-play-button {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #ffffff;
  font-size: 0.75rem;
  border: 2px solid #6C6C6C;
  border-radius: 10px;
  padding: 10px 10px 0;
  min-width: 80px;
}

.sonification-play-button:hover {
  box-shadow: 5px 5px 5px #aaaaaa;
}

.sonification-play-button.col {
  border: none;
  box-shadow: none;
  display: hidden;
  background: none;
}

.sonification-play-button h5 {
  font-size: .75rem;
  color: #6C6C6C;
}

#date-range-slider-position {
  position: absolute;
  bottom: 0 !important;
  max-width: 85vw;
  right: 40px;
  left: 40px;
  padding: 0 0 60px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  #date-range-slider-position {
    max-width: 80vw;
  }
}

@media screen and (max-width: 1200px) {
  #date-range-slider-position {
    max-width: 70vw;
  }
}

@media screen and (max-width: 993px) {
  #date-range-slider-position {
    max-width: 60vw;
  }
}

@media screen and (max-width: 750px) {
  #date-range-slider-position {
    max-width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .sonification-play-button {
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: #ffffff;
    font-size: 0.5rem;
    border: 2px solid #6C6C6C;
    border-radius: 10px;
    padding: 10px 5px 0;
    min-width: 60px;
  }
  .sonification-play-button h5 {
    font-size: 0.75rem;
  }
}

.full-screen {
  height: 90vh;
  max-height: 90vh;
}

.fullscreen-charts {
  background-color: #f2f2f2;
  padding: 20px 10px 30px;
  margin: 0 auto;
}

legend {
  font-size: 1rem;
  font-weight: bold;
}

canvas {
  padding-bottom: 15px;
  padding-top: 15px;
}

.makeStyles-root-1 {
  margin-top: 0 !important;
}
