.chart-border {
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 5px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
}

.date-range-selector {
  display: flex;
  padding-left: 30px;
}

@media screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
}
}

.chart-container {
  height: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
}

.region-chart-container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.sonification-play-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: none;
  background: none;
}

#date-range-slider-position {
  position: absolute;
  bottom: 0 !important;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.full-screen {
  height: 90vh;
  max-height: 90vh;
}

.fullscreen-charts {
  background-color: #f2f2f2;
  padding: 20px 10px 30px;
  margin: 0 auto;
}

legend {
  font-size: 1rem;
  font-weight: bold;
}

.date-slider-label {
  padding: 10px;
}
