.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.col-11 p {
  font-weight: bold;
}

#icon {
  padding-left: 30px;
  padding-right: 30px;
}
#message {
  font-weight: bold;
}

.underHeatmapSelector {
  border: 1px solid #319bd5;
  margin-top: 8px;
  margin-bottom: 8px;
}

.widgets_block {
  height: 100%;
  /*height: 600px;*/
}
.widgets_block .row {
  height: 100%;
}
.widgets_block col {
  height: 100%;
}

.widgets_block p {
  position: absolute;
  left: 50%;
  top: 50%;
}
.navbar {
  margin-bottom: 15px;
}

.row {
  height: 125%;
}
