#icon {
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  float: left;
}
#message {
  font-weight: bold;
}

.underHeatmapSelector {
  border: 1px solid #319bd5;
  margin-top: 8px;
  margin-bottom: 8px;
}
.full-width-hr {
  border: 1px solid #319bd5;
}

img#logo {
  height: 6rem;
  margin-right: 2rem;
}

.info-bar {
  display: flex;
  align-items: center;
}
.route-map-link:before {
  content: "\00a0 ";
}
