.heading-container {
  display: flex;
  flex-direction: row;
  padding: 5px 0 5px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.dashboard-navbar {
  margin: 0 1px 4px 1px;
}

.heading-container h2 {
  color: #2a84bb;
  font-weight: bold;
  font-size: 1.5rem;
}

.heading {
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-weight: bold;
}

.heading .h1 {
  display: inline-block;
}

.heading-title {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-expand-md .navbar-links .right {
  border-left: 2px solid #3c3c3b;
}

.navbar-links .right,
.navbar-links .left {
  margin: 10px 0;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 375px) {
  .heading-container {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0;
  }
  .heading-title {
    padding: 10px 20px 0;
    margin-bottom: 0;
  }
  img#logo {
    height: 80px !important;
  }

  .navbar-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .heading-container h1 {
    font-size: 1.25rem;
  }
}

/* max-width changed from 600px to 767px so the border is hidden as soon as it snaps to burger menu */
@media screen and (max-width: 767px) {
  .heading-container {
    border-bottom: 2px solid #2a84bb;
  }

  .heading-container h1 {
    font-size: 1.75rem;
  }

  .navbar-expand-md .navbar-links .right {
    border-left: none;
  }
}

.underHeatmapSelector {
  border: 1px solid #2a84bb;
  margin-top: 8px;
  margin-bottom: 8px;
}

.full-width-hr {
  border: 1px solid #2a84bb;
  margin: 10px 0;
  padding: 0;
}

.full-screen,
.fullscreen-charts {
  background-color: White;
}

img#logo {
  height: 100px;
  margin-right: 20px;
}

.link {
  color: #3c3c3b;
  font-weight: bold;
  text-decoration: none;
}

.about-us,
.accessibility-page,
.data-sources {
  text-align: left;
  padding-top: 3vh;
  padding-right: 15px;
  padding-left: 15px;
}

.data-sources {
  padding-bottom: 3vh;
}

.about-us-details,
.accessibility-intro,
.accessibility-details {
  padding-bottom: 30px;
}

.about-us h1,
.about-us h2,
.accessibility-page h1,
.data-sources h1 {
  padding-top: 2vh;
}

.accessibility-page ul {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.accessibility-intro li {
  padding-left: 20px;
}

.accessibility-page .browsers {
  font-style: italic;
  padding-left: 20px;
  margin-bottom: 15px;
}

.accessibility-page #browsers-list {
  margin-bottom: 5px;
}

.about-us .name {
  color: #3c3c3b;
  font-size: 16pt;
}

.team-members {
  padding-bottom: 3vh;
  justify-content: left;
}

.widgets-block {
  background-color: #f2f2f2;
  padding: 0 0 40px 0;
}
