.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: white;
  background-color: #287db2;
  border-color: #287db2;
  font-weight: bold;
}

.darkmode .btn-primary,
.darkmode .btn-primary:hover,
.darkmode .btn-primary:active,
.darkmode .btn-primary:focus {
  color: white;
  background-color: rgb(64,64,64);
  border-color: rgb(64,64,64);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled).active:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  color: white;
  background-color: #133a53;
  border-color: #133a53;
}

.darkmode .btn-primary:not(:disabled):not(.disabled).active,
.darkmode .btn-primary:not(:disabled):not(.disabled).active:hover,
.darkmode .btn-primary:not(:disabled):not(.disabled):active,
.darkmode .btn-primary:not(:disabled):not(.disabled).active:focus {
  color: #121212;
  background-color: #c1def1;
  border-color: #c1def1;
}

.heatmap-selector .toggle-button-group {
  margin: 5px 0;
  width: 100%;
}

.heatmap-selector {
  padding: 0;
}

.heatmap-selector .selector-group {
  display: flex;
  flex-direction: column;
}

.btn {
  text-align: left;
}

.selector-group label {
  width: 50%;
}
