.tracker {
  height: 95%;
  width: 25%;
  margin-right: 2%;
}

#total-cases {
  color: Red;
}

#map {
  height: 95%;
  width: 65%;
}

#area-component {
  display: grid;
  grid-template-areas: 'name total';
  grid-gap: 1%;
  margin: 2% 0;
  padding: 2%;
  border: 1px solid LightGray;
  border-radius: 2px;
}

.name {
  grid-area: 'name';
}

.total {
  grid-area: 'total';
  display: flex;
  justify-content: flex-end;
  color: Red;
}

.numbers {
  color: Red;
}
