.geo-heatmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 88%;
  width: 95%;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.geo-map {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  min-height: 600px;
  background-color: #f2f2f2;
  padding: 0;
}

.hidden-geo-map {
  display: none;
}

#map {
  height: 95%;
  width: 95%;
}

.full-screen {
  height: 90vh;
}

.legend {
  line-height: 18px;
  color: #555;
  background: white;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.legend .legend-title {
  font-weight: bold;
}
.legend-line {
  height: 18px;
  display: flex;
}
.legend .legend-line i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}
.map-date-range {
  font-weight: bold;
  color: #2a84bb;
  border-bottom: 1px solid LightGray;
  padding-bottom: 5px;
}
