.info-bar {
  background-color: #c1def1;
  padding: 10px 20px;
}

.news-items-block {
  margin-top: 20px;
}

.scot-gov-link {
  color: #287DB2;
}

.more-info-icon {
  height: 70px;
  margin-top: 25px;
}

.timestamp, .message, .news-item-title {
  color: #133a53;
}

.news-item-title {
  font-weight: bold;
}

@media screen and (min-width: 1025px) {
  .news-items-block {
    padding: 0;
  }
  .list-items {
    padding: 0px;
  }
  .more-info-icon {
    margin-left: 15px;
  }
}
