.info-bar {
  display: flex;
  align-items: center;
  background-color: #c1def1;
  padding: 10px 20px 20px 20px;
}

.more-info-icon {
  height: 60px;
}

.info-bar .message {
  font-weight: bold;
}

.info-bar .news-item {
  margin: 0;
}

.timestamp {
  color: #133a53;
}

.info-bar #msg {
  margin-left: 30px;
}

.news-items-block {
  padding-top: 10px;
}
