.region-menu {
  height: 250px;
  overflow-y: scroll;
  width: 300px;
}

.selected-region {
  margin: 10px 0;
  width: 300px;
}

.darkmode .selected-region {
  color: #121212;
  background-color: #c1def1;
}

.region-selector-row {
  padding: 10px 20px;
}

.darkmode .region-selector-row {
  background-color: #133a53;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
