.route-map-rules {
  color: #133a53;
}

.current-phase {
  text-align: center;
  font-weight: bold;
  background-color: #133a53;
  color: #fff;
  padding: 2rem;
}

.current-phase-number {
  color: white;
  font-weight: 750;
}

@media screen and (max-width: 768px) {
  .current-phase {
    height: auto;
    padding: 3%;
  }

  h3 {
    font-size: 1.2em;
  }
}

#link {
  color: white;
  text-decoration: underline;
}

#link:hover {
  color: #287DB2;
  cursor: pointer;
}
