.current-phase {
  text-align: left;
  background-color: #133a53;
  color: #ffffff;
  padding: 2rem;
}

.current-phase-number {
  font-weight: bold;
  color: #2a84bb;
}

@media screen and (max-width: 768px) {
  .current-phase {
    height: auto;
    padding: 3%;
  }

  h2 {
    font-size: 1.2em;
  }
}

#link {
  color: #2a84bb;
  text-decoration: underline;
}

#link:hover {
  color: #fc8d59;
  cursor: pointer;
}
