.footnote {
  font-size: 0.75rem;
}

.footnote-stars {
  color: #fc8d59;
  font-weight: bold;
  font-size: 1rem;
}

.single-value-number {
  font-size: 4rem;
  color: #2a84bb;
  font-weight: bold;
}

.single-value {
  border: 1px solid DarkGray;
  padding: 20px;
  height: 100%;
  background-color: #ffffff;
  color: #133a53;
}

.single-value-bar {
  padding: 10px;
}
