.single-value-bar {
  /*margin-top: 2rem;*/
}

.single-value-bar .row {
  height: 100%;
}

.single-value-bar-row {
  margin-right: -5px;
  margin-left: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.single-value-bar-col {
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
}

.single-value {
  color: White;
  background-color: #2A84BB;
  text-align: center;
  height: 100%;
  width: 100%;
}

.single-value-header {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  height: 50%;
}

.single-value-total {
  padding: 0.2rem 1rem 2rem 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}
