.alert-bar {
  display: flex;
  align-items: center;
  background-color: #fecdd1;
  padding: 30px 10px 30px 30px;
  margin-bottom: 10px;
}

#icon-alert {
  padding-right: 30px;
  height: 100%;
  float: left;
}

.advice-link:before {
  content: "\00a0 ";
}

.alert-bar .message {
  font-weight: bold;
}
