.underHeatmapSelector {
  border: 1px solid #319bd5;
  margin-top: 8px;
  margin-bottom: 8px;
}

.full-width-hr {
  border: 1px solid #319bd5;
}

.full-screen {
  background-color: White;
}

img#logo {
  height: 6rem;
  margin-right: 2rem;
}

.link {
  color: #3c3c3b;
  font-weight: bold;
  text-decoration: underline;
}

.sitemap .title {
    font-weight: bold;
}

.sitemap .entry:hover, .sitemap .entry:active {
    text-decoration: underline;
}

.about-us .person a {
    width: 85%;
}

.about-us .person .mugshot {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.about-us .name {
    color: #3c3c3b;
    text-align: center;
    font-size: 16pt;
}
.about-us .person {
    text-align: center;
}
