.tooltip-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
}

.tooltip-icon .fa-question-circle {
  color: #133a53;
}

#tooltip > .tooltip-inner {
  background-color: #000000d9;
  color: #ffffff;
  border-radius: 10px;
  padding: 6px;
  font-weight: bold;
  line-height: 1.4;

}

.tooltip-inner {
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}
