.tooltip-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
}

.tooltip-icon .fa-question-circle {
  color: #133a53;
}

#tooltip > .tooltip-inner {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
  border: 0.25px solid LightGray;
}

.tooltip-inner {
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}
