.nav-link {
  font-size: 1em;
  margin-bottom: 8px
}

.darkmode .nav-link {
}

.dashboard-navbar img#logo {
  height: 130px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 0 5px;
}

.darkmode .dashboard-navbar img#logo {
  background-color: #f2f2f2;
}

.dashboard-navbar {
  margin: 0 15px;
}

.darkmode .dashboard-navbar {
  background-color: #f2f2f2;
  opacity: 75%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dashboard-navbar .heading h1 {
  font-size: 2em;
}

.dashboard-navbar .heading-container.collapse:not(.show) {
  display: none;
}

.dashboard-navbar .heading {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.dashboard-navbar .heading h1 {
  display: inline-block;
}

.darkmode .dashboard-navbar {
  background-color: #f2f2f2;
  color: black;
  margin: 0 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* .navbar-links {
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem 0rem !important;
}

.darkmode .navbar-light .navbar-nav .nav-link {
  color: #f2f2f2;
}

.darkmode .navbar-link {
  color: #f2f2f2;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
  padding: 0 1.75rem !important;
  flex-basis: 0;
  border-left: 2px solid #3c3c3b; */

.darkmode .navbar-light .navbar-nav .nav-link {
  color: #121212;;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.selected {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none !important;
}

@media screen and (max-width: 991px) {
  /* .dashboard-navbar .heading-container {
    justify-content: flex-end;
  }
  .dashboard-navbar .heading {
    display: none;
  } */
}

@media screen and (max-width: 575px) {
  /* .dashboard-navbar img#logo {
    height: 80px !important;
  }
  .dashboard-navbar .heading-container {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0;
    border-bottom: 2px solid #2a84bb;
  }
  .navbar-links {
    flex-direction: column;
  }
  .nav-link {
    border-left: none;
  } */
}

/* .darkmode {
background-color: #121212;
color: black;
} */

.dark-mode-btn {
  background-color: #287db2;
  cursor: pointer;
}

.darkmode .dark-mode-btn {
  color: white;
}
