.nav-link {
  font-size: 1em;
  margin-bottom: 8px
}

.darkmode .nav-link {
}

.dashboard-navbar img#logo {
  height: 80px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 0 5px;
}

.darkmode .dashboard-navbar img#logo {
  background-color: #f2f2f2;
}

.dashboard-navbar {
  margin: 0 15px;
}

.darkmode .dashboard-navbar {
  background-color: #f2f2f2;
  opacity: 75%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dashboard-navbar .heading h1 {
  font-size: 2em;
}

.darkmode .dashboard-navbar .heading h1 {
  color: #121212;
}

.navbar {
  align-items: flex-end;
}

.dashboard-navbar .heading-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.dashboard-navbar .heading-container.collapse:not(.show) {
  display: none;
}

.darkmode .navbar-light .navbar-nav .nav-link {
  color: #121212;;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.selected {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none !important;
}

@media screen and (max-width: 991px) {
  /* .dashboard-navbar .heading-container {
    justify-content: flex-end;
  }
  .dashboard-navbar .heading {
    display: none;
  } */
}

@media screen and (max-width: 575px) {
  /* .dashboard-navbar img#logo {
    height: 80px !important;
  }
  .dashboard-navbar .heading-container {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0;
    border-bottom: 2px solid #2a84bb;
  }
  .navbar-links {
    flex-direction: column;
  }
  .nav-link {
    border-left: none;
  } */
}

.dark-mode-btn {
  background-color: #287db2;
  cursor: pointer;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 50px;
  margin: auto 20px 8px auto;
}

.darkmode .dark-mode-btn {
  color: #fd8d3c;
  background-color: #121212;
  border: 1px solid #121212;
}
