.navbar{
    margin-bottom: 15px;
}

.row{
    height: 125%;
}


.card{
    margin: 5px;
    border:2px solid black;
    border-radius: 20px;
    background-color: #D3D3D3;
}
.card-body{
    background-color:#D3D3D3;
    text-align:center;
}

.widgets_block{
    height: 600px;
}

